* {
  margin: 0;
  padding: 0;
}

.display {
  display: inline-table;
  vertical-align: middle;
  font-size: 30px;
}

.jumbotron {
  background-image: url(img/City_Landscape_Background.jpg);
  background-size: cover;
}

/* .one {
  background-image: url(img/City_Landscape_Background.jpg);
  color: white;
} */
.image {
  background-image: url(img/City_Landscape_Background.jpg);
  color: white;
}
