* {
  margin: 0;
  padding: 0;
}

.display {
  display: inline-table;
  vertical-align: middle;
  font-size: 30px;
}

.jumbotron {
  background-image: url(img/City_Landscape_Background.jpg);
  background-size: cover;
}

.footer {
  padding: 15px;
  margin-top: 15px;
  color: rgb(6, 93, 255);
  text-align: center;
}
